* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --font-size: 14px;
    --color: #333;
    --button-height: 32px;
    --button-bg: white;
    --button-active-bg: #eee;
    --border-radius: 4px;
    --border-color: #999;
    --border-color-hover: #666;
}

body {
    font-size: var(--font-size);
}

.box {
    margin: 20px;
}
